@use '../custom' as *;
@use '../components/mixins' as *;

.navbar {
  background-color: rgba(249, 251, 254, 0.95);


    li {
      padding: 0 0.7rem;

      a {
        padding: 0 0.7rem;
        text-transform: capitalize;
        font-weight: 600;      
    }
  
    }
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: $secondary;
}
